{
  "extends": "airbnb",
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-underscore-dangle": ["error", { "allow": ["_this", "_id"] }],
    "object-curly-spacing" : [2, "always"]
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  }
}
