{
  "extends": "airbnb",
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-await-in-loop": "off",
    "camelcase": ["error", { "properties": "always" }],
    "no-underscore-dangle": ["error", { "allow": ["_this", "_id"] }],
    "object-curly-spacing" : [2, "always"],
    "global-require": "off",
    "import/no-named-as-default": "off"
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  }
}
